<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <img src='D:/xampp/htdocs/Good-mood-2-parent/Change-transaction-to-article/storage/uploads/CodaTasks.JPG'
        class="card__image main__article--img img100"
        alt="Image for How to live longer: eight habits that could add years to your life" />
</body>

</html>